<div class="pokemon-list-container">
  <header class="list-header">
    <div class="header-left">
      <h1>Teste Prático Front End</h1>
      <h2>Poké-Busca</h2>
    </div>

    <div class="header-right">
      <div class="search-bar">
        <input
          type="text"
          placeholder="Buscar"
          [(ngModel)]="searchText"
          (keyup)="onKeyUp($event)"
        />

        <button (click)="searchPokemon()">
          <span class="material-symbols-outlined"> search </span>
        </button>
      </div>
    </div>
  </header>
  <hr class="solid" />

  <div class="description">
    <b> Exibindo {{ pokemonList.length }} de {{ pokemonCount }} itens</b>
  </div>
  <hr class="solid" />

  <div class="pokemon-list">
    @for (item of pokemonList ; track $index) {
    <app-pokemon-item [pokemon]="pokemonList[$index]"></app-pokemon-item>
    }
  </div>
  <footer class="list-footer">
    <div class="footer-container">
      <div class="footer-left">
        {{ selectedPage }} de {{ totalPages }} páginas
      </div>
      <div class="footer-right">
        <button (click)="changePage('first')" [disabled]="selectedPage === 1">
          <span class="material-symbols-outlined"> first_page </span>
        </button>
        <button
          (click)="changePage('previous')"
          [disabled]="selectedPage === 1"
        >
          <span class="material-symbols-outlined"> navigate_before </span>
        </button>
        <button
          (click)="changePage('next')"
          [disabled]="selectedPage === totalPages"
        >
          <span class="material-symbols-outlined"> navigate_next </span>
        </button>
        <button
          (click)="changePage('last')"
          [disabled]="selectedPage === totalPages"
        >
          <span class="material-symbols-outlined"> last_page </span>
        </button>
      </div>
    </div>
  </footer>
</div>
