.header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo-container {
  margin-right: 20px;
}

.logo-container svg {
  width: 173px;
  height: 38px;
}

.user-container {
  position: relative;
  display: flex;
  align-items: center;
}

.greeting {
  margin-right: 10px;
  cursor: pointer;
}

.arrow {
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  display: none;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #f0f0f0;
}

.user-container:hover .dropdown {
  display: block;
}

@media only screen and (max-width: 767px) {
  .header {
    padding: 14px;
  }

  .logo-container svg {
    width: 158px;
  }

  .greeting {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    max-width: 50vw;
    margin-right: 0px;
    padding-right: 0px;
  }

  .material-symbols-outlined {
    font-size: 16px;
  }
}

@media only screen and (max-width: 400px) {
  .header {
    padding: 10px;
  }

  .logo-container svg {
    width: 100px;
  }

  .greeting {
    font-size: 12px;
  }

  .material-symbols-outlined {
    font-size: 14px;
  }
}
