<div class="container">
  <div class="image-container">
    <img [src]="getPokemonImage()" alt="Imagem" />
  </div>
  <div class="text-container">
    <h2>{{ formatName(pokemon.name) }}</h2>
    <p>
      Description ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
      posuere faucibus consequat. Proin nec diam vehicula, vulputate sem vitae,
      feugiat nisi. Duis vehicula quam sit amet maximus imperdiet. Nunc sit amet
      nisi sit amet urna consequat ullamcorper.
    </p>
  </div>
</div>
<hr class="solid-hr" />
